<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}/static/article.css">
</head>

<body class="article">
	<div class="header">
		<img src="{{ STATIC_URL }}/static/-.png"/>
	</div>
	<a href="{{ STATIC_URL }}/archive" style=" float: right; color: #fff">Все статьи</a>

	<div class="article">
		<div class="one-post">
			<h2 class="post-title">{{ post.id }}) {{ post.title }}</h2>
			<div class="article-info">
				<div class="article-author">{{ post.author.username }}</div>
				<div class="article-created-date">{{ post.created_date }}</div>
			</div>
			<p class="article-text">{{ post.get_excerpt }}</p>
		</div>
	</div>
</body>